@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(3rem);
	}
	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes fadeInScale {
	0% {
		opacity: 0;
		transform: scale(0);
	}
	10% {
		opacity: 0;
		transform: scale(0);
	}
	20% {
		opacity: 0;
		transform: scale(0);
	}
	30% {
		opacity: 0;
		transform: scale(0);
	}
	40% {
		opacity: 0;
		transform: scale(0);
	}
	50% {
		opacity: 0;
		transform: scale(0);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes scroll{
	to {
		transform: translate(calc(-50% - 0.5rem));
	}
}