@use '../abstracts/' as *;

.features {
	padding-block: 15rem 7rem;
	place-items: center;
}

.feature-box {
	align-self: normal;
	--flow-spacer: 1rem;
	& svg {
		font-size: $size-11;
		color: $color-accent-400;
		cursor: pointer;
		transition: transform 0.35s cubic-bezier(0.38, 3, 0.57, 1.6);

		&:is(:hover, :focus) {
			transform: translateY(-6px) translateY(-3px);
		}
	}

	&--heading {
		color: $color-primary-400;
		text-transform: capitalize;
		cursor: pointer;

		&:is(:hover, :focus) {
			color: $color-accent-400;
		}
	}

	& p {
		max-width: 25ch;
	}
}
