@use '../abstracts/' as *;

.ideas {
    position: relative;
    overflow: hidden;

	&--content {
		height: $size-1;
		background-color: $color-primary-400;
		
        &--holder {
			height: $size-1;
			width: 100%;

			background-color: $color-neutral-100;
		}

        &--describe{
            display: flex;
            justify-content: space-between;
        }
	}

    &--img{
        position: relative;
        top: 150px;
        left: 0;
        transform: scale(1.6);
        &--box{
            position: relative;
            height: 500px;
            overflow: hidden;
        }
    }
}
