@use '../abstracts/' as *;

.middle-block {
	--max-width: #{$container-max-width-narrow};
	--grid-gap: 0;
     height: 460px;
	transform: translateY(-50%);
	overflow: hidden;
	width: 90%;
	border-radius: $size-4;
	margin-inline: auto;

	&[data-block='ideas'] {
		transform: translateY(50%);

		@include mq(medium) {
			grid-auto-flow: row !important;
			grid-auto-columns: auto !important;
		}

		@include mq(large) {
			--max-width: #{$container-max-width} !important;
			grid-auto-flow: column !important;
			grid-auto-columns: 1fr !important;
		}
	}

	& .mission {
		text-align: left;
		background-color: $color-neutral-000;

		&--count {
			display: flex;
			flex-direction: column;
			gap: 3rem;

			@include mq(medium) {
				flex-direction: row;
				justify-content: center;
			}
		}
	}
}

// new changes
.kick_text{
	background-color: white;
	width: 100%;
	height: 460px;
	object-position: center;
	object-position: cover;

}